/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 1:27:09 PM
    Author     : vedant12
*/
*,
*:before,
*:after{
    box-sizing: border-box;
}
@font-face{
    font-family: squareFont;
    src: url('fonts/squarefont/Square.ttf');
}
.body{
    margin: 0px;
}
.headerBar{
    background-color: #294860;
    height: 50px;
}
.header:after{
    content: '';
    display: table;
    clear: both;
}
.innerContent{
    width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
}
.innerContent__logo{
    height: 100%;
    float: left;
    width: 20%
}
.innerContent__logo--image{
    max-height: 100%;
    max-width: 100%;
}
.innerContent__account{
    height: 100%;
    float: right;
    width: 20%;
    color: #FFF;
    font-family: fantasy;
    text-align: right;
    
}
.innerContent__account--profile-Name{
    width: 100%;
    margin-bottom: 0px;
    
    
}
/*.dropdown{
    position: relative;
    display: inline-block
}*/
.drop-list{
    display: none;
    background-color: #F9F9F9;
    position: absolute;
    min-width: 360px;
}
/*
.dropdown-content__element{
    color: #000;
    display: block;
}*/
/*.dropdown:hover .dropdown-content {
    display: block;
}
<<<<<<< HEAD

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

=======
*/
/*.dropdown:hover .dropbtn {
    background-color: black;
}*/
.content-container{
    background-color: #F3F3F3;
    height: 1000px;;
}
.content-box{
    background-color: #FFFFFF;
    display: inline-flex;
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
    top:20%;
    justify-content: space-around;
}

.content-box__course-box{
    background-color: orange;
    height: 300px;
    width: 300px;
    margin: 5%;
    /*display: inline-block;*/
}

.content-box__course-box__course-content{
    width: 80%;
    height: 80%;
    margin: 10%;
}

.course-image{
    width:inherit;
    height: inherit;
    margin: inherit;
}
