.cards {
	width :80%;
	margin-top : 40px;
	min-height: 70px;
	margin-bottom: 40px;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
}

.holder {
	width: 700px;
	margin: 0 auto;
	vertical-align: middle;
}

.shadow:hover{
	-moz-box-shadow:    2px 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px 2px #ccc;
	box-shadow:         2px 2px 2px 2px #ccc;
}

.cards__content {
	float: left;
	width: 80%;
	position: relative;
	//top: 8px;

}
.content__name {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 4px;
	color: #666;
}

.content__info {
	font-size: 12px;
	color: #b3b3b3;
	word-wrap: break-word;
}

.cards__play {
	float: right;
	top:50%;
	right: 0;
	position: absolute;
}

.fa{
	color:#0072BB;
	transform: translate(-50%,-50%);
}

.cards__holder {
	padding: 10px;
	width:100%;
	position: relative;
}

.cards__holder::after {
	content:" ";
	height:0px;
	visibility: none;
	clear:both;
	display: block;
}

.bg-clr {
	background-color: #F3F3F3;
}

.template {
	display: none;
}