*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face{
    font-family: Helvetica;
    src: url('fonts/Helvetica.otf');
}
.body{
    margin: 0px;
}
/* HEADER */
.headerBar{
    background-color: #0072BB;
    height: 50px;
}


.innerContent{
    height: 100%;
    width: 80%;
    margin: auto;
}

.innerContent:after{
    clear: both;
    content: '';
    display: table;
}

.innerContent__logo{
    float: left;
    height: 100%;
    width: 20%;
    padding: 5px;
}

.innerContent__logo--image{
    max-height: 90%;
    max-width: 100%;
    position: relative;
    top: 3%;
}

.innerContent__account{
    color: #FFF;
    float: right;
    //font-family: fantasy;
    height: 100%;
    text-align: center;
    width: 200px;
}

.innerContent__account--profile-Name{
    cursor: pointer;
    line-height: 50px;
    
}

.innerContent__account--profile-Name:hover{
    background-color: #085DAD;
}

.drop-list{
    background-color: #0072BB;
    display: none;
    position: relative;
    top: 1%;
    z-index: 1;
    /* text-align: center; */
}

.drop-list__element{
    color: #FFF;
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
}

.drop-list__element:hover{
    background-color: #085DAD;
}

.drop:hover .drop-list{
    display: block;
}

/* HEADER ENDS*/
/* MAIN BODY */

.container{
    width: 100%;
    height: 755px;
    background-color: #EDF1F4;
    
}

.title-box{
    width: 60%;
    height: 10%;
    position: relative;
    left: 20%;
    border-radius: 30px;
    top: 5%;
}

.title-box__content{
    width: 261px;
    margin: 0px;
    position: relative;
    left: 35%;
    top: 30%;
    text-align: center;
    font-size: x-large;
    //font-family: cursive;
    font-weight: bolder;
    line-height: 100%;
    font-weight: 200;
}

.content-box{
    width: 60%;
    //height: 63%;
    background-color: #EDF1F4;
    position: relative;
    top: 12%;
    left: 20%;
}

.content-box .inner-content{
    /* vertical-align: middle; */
    overflow: auto;
    //height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
}

.inner-content .course-add{
    float: right;
    //font-family: cursive;
    background-color: #337ab7;
    border: none;
    color: #fff;
    margin: 0 2px;
    outline: none;
    padding: 5px 5px
}

.inner-content__course-card{
    width: 100%;
    height: auto;
}
.inner-content__course-card__course{/*-------------*/
    width: 80%;
    background-color: #f6f6f6;
    height: 40px;
    /* margin: 7px; */
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    /* font-family: Helvetica; */
    line-height: 40px;
    border: solid 1px #aaa;
    /*box-shadow: 5px 5px 5px gray;*/
}
.inner-content__course-card__course--textbox{
    max-width: 80%;
    /*background-color: #fff;*/
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 36%;
    margin: 1%;
}

.inner-content__course-card__course--button{
    float: right;
    position: absolute;
    /* bottom: 30px; */
    right: 19%;
}

.inner-content__course-card__lessons{
    /* background-color: red; */
    position: relative;
    width: 80%;
    /* left: 48px; */
    overflow: scroll;
    height: 221px;
    margin-bottom: 20px;
    
}
.lesson__add{
    float: right;
    left: 26%;
    background-color: #337ab7;
    border: none;
    color: #fff;
    margin: 0 2px;
    outline: none;
    padding: 5px 5px
}
#clicked{
    display: none;
    
}
.lesson-name{/*------------*/
    width: 80%;
    background-color: #f6f6f6;
    height: 40px;
    /* margin: 7px; */
    margin-bottom: 5px;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    /* box-shadow: 5px 5px 5px gray; */
    cursor: pointer;
    border: solid 1px #aaa;
    margin-right: 0;
    /* right: 0; */
    /* margin: auto; */
    margin-left: auto;
}

.lesson-name--textbox{
    max-width: 80%;
    /*background-color: #fff;*/
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 36%;
    margin: 1%;
}

.lesson-name--button{
    float: right;
    position: absolute;
    /* bottom: 30px; */
    right: -1.5%;
}

.lesson-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    /* left: 16%; */
    /* margin-right: 0; */
    /* right: 0; */
    /* margin-left: auto; */
}

.video-wrapper{
    width: 80%;
    height: 0;
    overflow: hidden;
    margin-left: auto;

}
.video-add{
    float: right;
    //position: relative;
    left: 26%;
    background-color: #337ab7;
    border: none;
    color: #fff;
    margin: 0 2px;
    outline: none;
    padding: 5px 5px
}
.lesson-wrapper__videos{/*----------*/
    width: 80%;
    background-color: #f6f6f6;
    clear: both;
    height: 40px;
    /* margin: 7px; */
    /* border-radius: 10px; */
    position: relative;
    /* left: 11%; */
    text-align: center;
    line-height: 40px;
    /* box-shadow: 5px 5px 5px gray; */
    cursor: pointer;
    border: solid 1px #aaa;
    margin-left: auto;
    margin-bottom: 6px;
}

.lesson__add__input-contain{
    height:0;
    overflow: hidden;
    float: right;
}
.lesson__add_input-contain__button{
    background-color: #5987FA;
    //font-family: cursive;
    border-radius: 13px;
}
.video__add__input-contain{
    height:0;
    overflow: hidden;
    float: right;
}

.video__add_input-contain__button{
    background-color: #5987FA;
    //font-family: cursive;
    border-radius: 13px;
    
}

.course__add__input-contain{
    height:0;
    overflow:hidden;
    /*height: auto;*/
    float: right;
    /*position: relative;
    left: 71%;*/
}

.course__add_input-contain__button{
    //font-family: cursive;
    background-color: #5987FA;
    border-radius: 13px;
}

.lesson-wrapper__videos--textbox{
    max-width: 80%;
    /*background-color: #fff;*/
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 36%;
    margin: 1%;
}

.lesson-wrapper__videos--button{
    float: right;
    position: absolute;
    /* bottom: 30px; */
    right: 0.5%;
}
.modal-div {
    background-color: rgba(0,0,0,0);
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: transform 0.2s ease-in;
    width:100%;
    font:normal normal normal 14px/1 FontAwesome;
}

.modal {
    background-color: #0072BB;
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__elements {
    height: 100px;
    width: 300px;
}

.modal__elements__btn {
    background-color: #000000;
    border-radius: 5px;
    border: none;
    color: white;
    display: block;
    height: 35px;
    outline: none;
    transform: translate(-50%, 200%);
    width: 100px;
}

.modal__elements__btn:hover{
    background-color:#C6C9CA;
    cursor: pointer;
}

.modal__elements__input {
    border-radius: 5px;
    border: none;
    height: 30px;
    outline: none;
    padding: 0 5px;
    width: 300px;
    margin-top: 5px
}
.fa-times {
    position: absolute;
    right: 0;
}