/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 1:27:09 PM
    Author     : vedant12
*/
*,
*:before,
*:after{
    box-sizing: border-box;
}
@font-face{
    font-family: squareFont;
    src: url('fonts/squarefont/Square.ttf');
}
.body{
    margin: 0px;
}
.headerBar{
    background-color: #0072BB;
    height: 50px;
}
.header:after{
    content: '';
    display: table;
    clear: both;
}
.innerContent{
    width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
}
.innerContent__logo{
    height: 100%;
    float: left;
    width: 20%
}
.innerContent__logo--image{
    max-width: 100%;
    max-height: 100%;
}
.innerContent__account{
    height: 100%;
    float: right;
    width: 20%;
    color: #FFF;
    font-family: fantasy;
    text-align: center;
    
}
.innerContent__account--profile-Name{
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 0px;
    height: 100%;
    padding-top: 5%;
    
}

.innerContent__account--profile-Name:hover{
    background-color: #085DAD;
}

.drop-list{
    display: none;
    background-color: #0072BB;
    width: 100%;
    position: relative;
    /* left: 30%; */
    top: 1%;
    /* text-align: center; */
}

.drop-list__element{
    text-decoration: none;
    color: #FFF;
    display: block;
}
.drop-list__element:hover{
    background-color: #085DAD;
}
.drop:hover .drop-list{
    display: block;
}

.content-container{
    background-color: #C6C8CA;
    height: 1000px;;
}
.content-box{
    background-color: #FFFFFF;
    display: inline-flex;
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
    top:20%;
    justify-content: space-around;
}

.content-box__course-box .flipped{
    -webkit-transform: rotatex(-180deg);
}
.content-box__course-box{
    
    height: 300px;
    width: 300px;
    margin: 5%;
    /*display: inline-block;*/
    position: relative;
    
}

.content-box__course-box__course-content{
    width: 100%;
    height: 100%;
    /*-webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;*/
    position: absolute;
    
}
.content-face{
    width: 100%;
    height: 100%;
    
    position: absolute;
    /*-webkit-backface-visibility: hidden ;
    z-index: 2;*/
}  

.content-face__text{
    height: 60%;
    width: 80%;
    font-family: squareFont;
    font-size: 14px;
    border-bottom: 2.5px solid;
    /* position: absolute; */
    margin-left: 10%;
    
}

.content-face__button{
    width: 40%;
    height: 10%;
    cursor: pointer;
    font-size: 14px;
    background-color: #217C7E;
    /* margin: 0px; */
    /* padding: 0px; */
    position: relative;
    /* margin-bottom: 100%; */
    /* bottom: 42%; */
    left: 30%;
    /* top: -10%; */
    
}
.content-box__course-box__course-content > .front-box{  
    position:absolute;
	transform: perspective( 600px ) rotateX( 0deg );
	/*background:#FC0; width:240px; height:200px; border-radius: 7px;*/
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
    /*z-index: 1;
    position: absolute;*/
    background-color: #FFD034;
    cursor: pointer;
}

.content-box__course-box__course-content > .back-box{
    /*-webkit-transform: rotatex(-180deg);*/
    background-color: #FF4C3B;
    position:absolute;
	transform: perspective( 600px ) rotateX( 180deg );
	/*background: #80BFFF; width:240px; height:200px; border-radius: 7px;*/
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.content-box__course-box__course-content:hover > .front-box{
	transform: perspective( 600px ) rotateX( -180deg );
}
.content-box__course-box__course-content:hover > .back-box{
	transform: perspective( 600px ) rotateX( 0deg );
}
.course-image{
    width:80%;
    height: 80%;
    margin: 10%;
}
