*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.navbar{
	width: 100%;
	margin:auto;
	text-align: justify;
	height:50px;
	background:#f5f5f5;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:center;
	list-style: none;
	
}

#navbar1 {
	background:#4484ef;
}

#navbar1 .nav-list{
	
	
	background:#4484ef;
}

#navbar-html{
	display:none;
}

.nav-list{
	background:#f5f5f5;
}

.stretch-li{
	display:inline-block;
	line-height: 0px;
	font-size: 0px;
	width: 100%;
}
.row{
	width: 100%;
}
.col-1{
	width:50%;
}
.col-2{
	width: 100%;
}
.content-style-2 .video{
	width: 100%;
	height: 50%;
}
.content-style-2 .notes{
	/*display: inline-block;*/
	vertical-align: top;
	width: 100%;	
	height: 50%;
}
.content-style-1 .video{
	display: inline-block;
	width: 50%;
	height: 75%;
}
.content-style-1 .notes{
	display: inline-block;
	vertical-align: top;
	width: 50%;	
	height: 75%;
}
.body{
	/*background-image: url("../images/project_background.png");*/
}
.content-style-2 .content-pane-1{
	width: 50%;
	display: inline-block;
	height: 90vh;
}
.content-style-1 .content-pane-1{
	width: 100%;
	display: inline-block;
	height: 90vh;
}
.content-style-2 .content-pane-2{
	border: 1px solid;
	vertical-align: top;
	display: inline-block;
	height: 90vh;
}
.content-style-1 .content-pane-2{
	display: none;
}

/*header*/

.headerBar{
    background-color: #0072BB;
    height: 50px;
}
.header:after{
    content: '';
    display: table;
    clear: both;
}
.innerContent{
    width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
}
.innerContent__logo{
    height: 100%;
    float: left;
    width: 20%
}
.innerContent__logo--image{
    max-width: 100%;
    max-height: 100%;
}
.innerContent__account{
    height: 100%;
    float: right;
    width: 20%;
    color: #FFF;
    font-family: fantasy;
    text-align: center;
    
}
.innerContent__account--profile-Name{
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 0px;
    height: 100%;
    padding-top: 5%;
    
}
.innerContent__account--profile-Name:hover{
    background-color: #085DAD;
}
.drop-list{
    display: none;
    background-color: #0072BB;
    width: 100%;
    position: relative;
    /* left: 30%; */
    top: 1%;
    /* text-align: center; */
}
.drop-list__element{
    text-decoration: none;
    color: #FFF;
    display: block;
}
.drop-list__element:hover{
    background-color: #085DAD;
}
.drop:hover .drop-list{
    display: block;
}

.innerContent__account:hover .drop-list{
	background-color: #0072BB;
    width: 100%;
    position: relative;
    /* left: 30%; */
    top: 1%;
    z-index: 1;
}
