*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar{
	align-items:center;
	background:#f5f5f5;
	display: inline-flex;
	flex-wrap: wrap;
	height:50px;
	justify-content: space-around;
	list-style: none;	
	margin:auto;
	text-align: justify;
	width: 100%;
}

#navbar1 {
	background:#4484ef;
}

#navbar1 .nav-list{
	background:#4484ef;
}

#navbar-html{
	display:none;
}

.nav-list{
	background:#f5f5f5;
}

.stretch-li{
	display:inline-block;
	font-size: 0px;
	line-height: 0px;
	width: 100%;
}

.row{
	width: 100%;
}

.col-1{
	width:50%;
}

.col-2{
	width: 100%;
}

.content-style-2 .video-container{
	height: 50%;
	width: 100%;
}

.content-style-2 .video{
	margin-top: 20px;
}

.content-style-2 .notes-container{
	height: 50%;
	vertical-align: top;
	width: 100%;	
}

,content-style-1{
    font:normal normal normal 14px/1 FontAwesome;
}

.content-style-2 .notes{
	margin-top: 0%;
}

.content-style-1 .video-container{
	display: inline-block;
	height: 100%;
	width: 50%;
}

.video{
	height: 90%;
	margin-top: 3%;
	margin:auto;
	width:95%;
}

.notes{
	height: 90%;
	margin-top: 3%;
	margin:auto;
	width:95%;
}

.right{
	display: inline-block;
	width:50%;
}

.content-style-1 .notes-container{
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 50%;	
}

.content-style-2 .content-pane-1{
	display: inline-block;
	height: 90vh;
	width: 50%;
}

.content-style-1 .content-pane-1{
	display: inline-block;
	height: 90vh;
	width: 100%;
}

.content-style-2 .content-pane-2{
	border: 1px solid;
	display: inline-block;
	height: 86vh;
	margin-top: 20px;
	vertical-align: top;
}

.content-style-1 .content-pane-2{
	display: none;
}

/*HEADER*/

.headerBar{
    background-color: #0072BB;
    height: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.innerContent{
    height: 100%;
    width: 80%;
    margin: auto;
}

.innerContent:after{
    clear: both;
    content: '';
    display: table;
}

.innerContent__logo{
    float: left;
    height: 100%;
    width: 20%;
    padding: 5px;
}

.innerContent__logo--image{
    max-height: 90%;
    max-width: 100%;
    position: relative;
    top: 3%;
}

.innerContent__account{
    color: #FFF;
    float: right;
    //font-family: fantasy;
    height: 100%;
    text-align: center;
    width: 200px;
    -webkit-font-smoothing: auto;
}

.innerContent__account--profile-Name{
    cursor: pointer;
    line-height: 50px;
    font-weight: bold;
}

.innerContent__account--profile-Name:hover{
    background-color: #085DAD;
}


.drop-list{
    background-color: #0072BB;
    display: none;
    position: relative;
    top: 1%;
    z-index: 1;
}

.drop-list__element{
    color: #FFF;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

.drop-list__element:hover{
    background-color: #085DAD;
}

.drop:hover .drop-list{
    display: block;
}
/*.header-bar__inner-content__innerContent__account:hover .header-bar__inner-content__drop-list{
	background-color: #0072BB;
	position: relative;
	top: 1%;
	width: 100%;
	z-index: 1;
}*/

.button{	
	background-color: #337ab7;
	border: none;
	color: #fff;
	margin: 0 2px;
	outline: none;
	padding: 5px 5px;
}

.button:hover {
	background-color: black;
	cursor: pointer;
}

.button:disabled{
	background-color: grey;
	color: #fff;
}

.modal-div {
	background-color: rgba(0,0,0,0);
	height: 100%;
	position: absolute;
	top: 0;
	transform: scale(0);
	transition: transform 0.2s ease-in;
	width:100%;
    font:normal normal normal 14px/1 FontAwesome;
}

.modal {
	background-color: #0072BB;
	border-radius: 50%;
	height: 500px;
	width: 500px;
}

.center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal__elements {
	height: 100px;
	width: 300px;
}

.modal__elements__btn {
	background-color: #000000;
	border-radius: 5px;
	border: none;
	color: white;
	display: block;
	height: 35px;
	outline: none;
	transform: translate(-50%, 150%);
	width: 100px;
}

.modal__elements__btn:hover{
	background-color:#C6C9CA;
	cursor: pointer;
}

.modal__elements__input {
	border-radius: 5px;
	border: none;
	height: 30px;
	outline: none;
	padding: 0 5px;
	width: 300px;
}

.fa-times {
	position: absolute;
	right: 0;
}

.lesson-name{
	display: inline-block;
	font-size: 28px;
	margin-top: 20px;
	padding-bottom: 5px;
}

.topic-name{
	color: #337ab7;
	display: inline-block;
	font-size: 24px;
	margin-top: 20px;
	padding-bottom: 5px;
}

.breadcrumb{
	border-bottom: 1px solid #ececec;
	display: inline-block;
	padding-left: 18px;
	padding-right: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.breadcrumb--anchor{
	text-decoration: none;
}

.fa-home{
	color: #337ab7;
	font-size: 24px;
}

.jsbin {
	height: 100%;
}

#sidenav-opacity-div{
	display:none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
    font:normal normal normal 14px/1 FontAwesome;
}